<ion-header [translucent]="true">
  <ion-toolbar class="component-toolbar">

    <ion-button (click)="dismissModal()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>

    <ion-title>INFORMACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <swiper-container>
    <swiper-slide>
      <div class="slide">
        <h1>Bienvenido</h1>
      
        <img src="assets/img/medico_paciente.jpeg" alt="Imagen de bienvenida" style="width:350px;height:260px;">
        <p>En esta sección podrá encontrar información médica acerca de cómo seguimos la evolución del dolor y la recuperación funcional tras la cirugía a través de esta aplicación móvil.</p>

        <ion-chip><ion-label>1/6</ion-label></ion-chip>
        <p><i>Deslizar para ver información >></i></p>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <h2>El dolor tras una cirugía</h2>
        
        <img src="assets/img/escala-eva.jpeg" alt="Imagen de escala EVA">
        <p>Casi todo el dolor causado por una cirugía se puede controlar o aliviar. Para ello es muy importante realizar un correcto seguimiento del mismo.</p>
        <p>En esta aplicación se proporciona una escala EVA que permite evaluar la intensidad de su dolor diario entre 0 a 10. Esta escala se encuentra en la pestaña <b>"Diario del dolor"</b> que encontrará en el menú principal.</p>
        
        <ion-chip><ion-label>2/6</ion-label></ion-chip>
      </div>
    </swiper-slide>
    
    <swiper-slide>
      <div class="slide">
        <h2>Recuperación funcional tras la cirugía</h2>
        
        <img src="assets/img/cuestionarios.jpeg" alt="Imagen de cuestionarios de seguimiento" style="width:350px;height:260px;">
        <p>La realización periódica de cuestionarios sobre su capacidad para caminar y realizar las actividades de la vida diaria nos permite comprobar si se está recuperando adecuadamente, ya que de eso depende su pronóstico en los próximos meses.</p>
        <p>Estos formularios se encuentran en la página <b>"Cuestionarios"</b> y están programados en fechas específicas. Deben ser completados cuando estén disponibles.</p>

        <ion-chip><ion-label>3/6</ion-label></ion-chip>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <h2>Resultados</h2>
        
        <img src="assets/img/resultados.jpeg" alt="Imagen de resultados" style="width:350px;height:260px;">
        <p>El apartado <b>"Resultados"</b> le permite visualizar la evolución del nivel del dolor y de los cuestionarios respondidos.</p>
        
        <ion-chip><ion-label>4/6</ion-label></ion-chip>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <h3><b>Información legal RecuperApp</b></h3>

        <img src="assets/img/informacion_legal.jpg" alt="Imagen de servicio técnico" style="width:350px;height:350px;">
        
        <p>RecuperApp es una aplicación móvil de monitorización de la recuperación funcional y del dolor tras una intervención quirúrgica. El objetivo principal de la aplicación es recoger datos sobre el estado funcional del usuario de forma continuada, mediante escalas y cuestionarios que evalúan cómo va recuperando la capacidad de caminar y realizar por sí mismo las actividades de la vida diaria teniendo en cuenta cómo lo hacía antes de la cirugía, así como vigilar la evolución del dolor. Las características del sistema garantizan la plena seguridad y privacidad de los datos y se emplean formularios clínicos validados que aportan información clara y de utilidad clínica.</p>
        <p>
          La aplicación RecuperApp:<br>
          <ion-icon name="caret-forward-outline"></ion-icon><b>NO ES UNA APLICACIÓN DE DIAGNÓSTICO.</b><br>
          <ion-icon name="caret-forward-outline"></ion-icon><b>ES UNA HERRAMIENTA DE APOYO PARA SU MÉDICO.</b><br>
          <ion-icon name="caret-forward-outline"></ion-icon><b>NO GARANTIZA LA CORRECTA VALORACIÓN DE RIESGO DEL USUARIO.</b>
        </p>

        <h2><b>Condiciones generales de uso</b></h2>
        <p>
          Las siguientes condiciones de uso de esta aplicación podrán ser modificadas por el titular. 
          En dicho caso, los cambios correspondientes serán informados por la misma aplicación.<br>
          RecuperApp no puede garantizar la inexistencia de interrupciones o errores en el acceso ni se hace responsable de posibles problemas técnicos que se produzcan durante la conexión a Internet así como de los daños que se pudieran derivar.
        </p>

        <h2><b>Propiedad intelectual e industrial</b></h2>
        <p>Los titulares de RecuperApp son:<br>
          <ion-icon name="caret-forward-outline"></ion-icon><b>Fundación para la Investigación Biomédica del Hospital Universitario Ramón y Cajal - FIBIOHRC</b><br>
          <i>CIF</i>: G-83726984<br>
          <i>Dirección</i>: Ctra. Colmenar Viejo, km. 9,1, 28034, Madrid, Madrid<br>
          <i>Correo electrónico de contacto</i>: <a href="mailto:fund_inv.hrc@salud.madrid.org">fund_inv.hrc&#64;salud.madrid.org</a><br>
        
          <ion-icon name="caret-forward-outline"></ion-icon>   <b>Universidad de Alcalá (UAH)</b><br>
          <i>CIF</i>: Q2818018J<br>
          <i>Dirección</i>: Plaza de San Diego, S/N, 28801, Alcalá de Henares, Madrid<br>
          <i>Teléfono de contacto</i>: 91 885 65 49<br><br>
        
          Todos los contenidos (textos, contenidos audiovisuales, código fuente, diseño gráfico, signos, logos, marcas, bases de datos, programas informáticos, edición, programación, compilación y otros elementos y contenidos necesarios para su funcionamiento) son propiedad del titular de la aplicación. 
          Cualquier uso no autorizado de estos contenidos será considerado un incumplimiento de los derechos de propiedad intelectual o industrial y podrá dar lugar a consecuencias legales. 
        </p>

        <h2><b>Privacidad</b></h2>
        <p>Esta aplicación cumple con todas las medidas asociadas a la protección de datos y la seguridad de la información. Es importante que sepa que:<br>
          <ion-icon name="caret-forward-outline"></ion-icon>   Los datos recogidos a través de la aplicación durante la realización de los cuestionarios serán tratados por su médico para evaluar la evolución de su tratamiento. Es imprescindible firmar un documento de consentimiento informado autorizando al personal médico para la gestión de sus datos personales. Esta información se almacena en la base de datos del Hospital Universitario Ramón y Cajal manteniendo la más estricta confidencialidad y respetando las normas de Buena Práctica Clínica.<br><br>
          <ion-icon name="caret-forward-outline"></ion-icon>   Al usar RecuperApp, usted está participando en un estudio de validación para valorar el impacto de la aplicación en la práctica clínica. Todos los investigadores involucrados se comprometen a respetar las normas éticas aplicables a este tipo de estudios tratando los datos con la mayor seguridad, garantizando el anonimato y siguiendo lo establecido en el protocolo autorizado por el Comité de Ética de la Investigación con medicamentos (CEIm) del Hospital Universitario Ramón y Cajal.<br><br>
          <ion-icon name="caret-forward-outline"></ion-icon>   Los datos recogidos para el estudio clínico no serán compartidos con terceros ni conservados más tiempo del necesario.<br><br>
          <ion-icon name="caret-forward-outline"></ion-icon>   Debe ser consciente de que por parte de los responsables del sistema operativo instalado en su dispositivo podría tratarse información técnica de su dispositivo o conexión que podría considerarse datos de carácter personal en función de la política de uso que haya usted aceptado de Google Play o de Apple Store, en su momento.<br><br>
          <ion-icon name="caret-forward-outline"></ion-icon>   El uso de RecuperApp se realiza sin acceder a cámaras, micrófonos ni a ninguna otra fuente de información de su dispositivo móvil.<br><br>
          <ion-icon name="caret-forward-outline"></ion-icon>   RecuperApp puede contener enlaces a otros sitios. Si hace clic en un enlace de un tercero, se le dirigirá a ese sitio. Tenga en cuenta que estos sitios externos no son operados por nosotros. Por lo tanto, le recomendamos encarecidamente que revise la Política de privacidad de estos sitios web. No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.<br><br>
          <ion-icon name="caret-forward-outline"></ion-icon>   RecuperApp no utiliza "cookies" ni almacena ningún tipo de fichero de rastreo ni personalización en su dispositivo. Las cookies son archivos con una pequeña cantidad de datos que se utilizan comúnmente como identificadores únicos anónimos que se almacenan en la memoria interna de su dispositivo.<br><br>
          Si necesitara más información sobre la manera en que RecuperApp trata sus datos personales o quisiera solicitar el ejercicio de los derechos que le confiere la ley, puede realizarlo al correo electrónico <a href="mailto:dpd.fibhrc@salud.madrid.org">dpd.fibhrc&#64;salud.madrid.org</a>. 
          Con relación al estudio clínico, es importante que sepa que los datos se utilizan sin identificadores que los vinculen directamente con usted, por lo que existirían limitaciones técnicas para proporcionar el ejercicio de ciertos derechos en algunos casos. En el caso de que, después de contactar con nosotros, considerara que RecuperApp no está tratando correctamente sus datos, tiene el derecho de comunicar esta circunstancia a la Agencia Español de Protección de Datos en <b>www.aepd.es</b>.
        </p>
        
        <h2><b>Exclusión de responsabilidad</b></h2>
        <p>La FIBIOHRC se exime de cualquier responsabilidad de uso que el usuario pueda realizar con la información aportada por RecuperApp. Cualquier hallazgo o sospecha que considere relevante para su salud deberá comunicarlo a su médico para que realice un diagnóstico adecuado.<br>
          Cualquier uso de RecuperApp implica la aceptación de todas sus condiciones de uso y su sumisión a la legislación española en todo momento, renunciando expresamente a cualquier otro fuero.<br>
        </p>

        <ion-chip><ion-label>5/6</ion-label></ion-chip>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide">
        <h3><b>Contacto ayuda técnica RecuperApp:</b></h3>
        
        <img src="assets/img/serviciotecnico.jpeg" alt="Imagen de servicio técnico" style="width:350px;height:350px;">
        <a href="mailto:loreto.alvarez@salud.madrid.org">loreto.alvarez&#64;salud.madrid.org</a><br><br>
        <a href="mailto:jjesus.garcia@uah.es">jjesus.garcia&#64;uah.es</a><br><br>

        <ion-chip><ion-label>6/6</ion-label></ion-chip>
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>
