<ion-content id="header">
  
  <ion-row justify-content-center class="logos_group">
    <ion-col size="6">
      <img src="assets/img/logo_irycis.png" alt="Logo IRYCIS" class="logo">
    </ion-col>
    <ion-col size="6">
      <img src="assets/img/logo_uah.png" alt="Logo UAH" class="logo">
    </ion-col>
  </ion-row>

  <div id="header">
    <img src="assets/img/logo_recuperapp.png">
  </div>

  <form id="form">
    <h1>Inicio de sesión</h1>
    <ion-item class="ion-margin-bottom">
      <ion-input [(ngModel)]="login_params.user" name="user" [type]="'text'" [placeholder]="'Usuario'"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input [(ngModel)]="login_params.password" name="password" [type]="'password'" [placeholder]="'Contraseña'"></ion-input>
    </ion-item>

    <ion-text *ngIf="login_error_msg == true" style="font-weight: bold;" color="danger">Nombre de usuario o contraseña no válidos</ion-text>

    <ion-button expand="block" shape="round" type="submit" [disabled]="!login_params.user || !login_params.password" (click)="login()">Acceder</ion-button>

  </form>
  
</ion-content>