<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quests" href="/tabs/quests">
      <!-- <ion-icon aria-hidden="true" name="list"></ion-icon> -->
      <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      <ion-label>Cuestionarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="results" href="/tabs/results">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Resultados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
