<ion-header [translucent]="true" class="page-component-header">
  <ion-toolbar>
    <ion-title>CUESTIONARIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page_content">

  <ion-refresher slot="fixed" (ionRefresh)="getEnabledStatus($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
   <ion-card >
      <ion-card-header>
        <ion-card-title>Cuestionario de Seguimiento</ion-card-title>
        <br>

        <ion-card-subtitle>Estado: 
          <ion-text *ngIf="isEnabledMonitoring == '1'" color="success">Disponible</ion-text>
          <ion-text *ngIf="isEnabledMonitoring == '0'" color="danger">Cerrado</ion-text>
        </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <ion-label *ngIf="isEnabledMonitoring == '1'"><ion-text>Cuestionario de seguimiento</ion-text></ion-label>
        <p class="quest_time_estimate" *ngIf="isEnabledMonitoring == '1'">Tiempo estimado: <ion-text>2 minutos</ion-text></p>

        <ion-label *ngIf="isEnabledMonitoring == '0' && nextDate">Disponible a partir del <ion-text>{{nextDate}}</ion-text></ion-label>
        <ion-label *ngIf="isEnabledMonitoring == '2'"><ion-text color="success">No tiene que rellenar más cuestionarios!</ion-text></ion-label>
        
        <ion-button expand="block" [disabled]="isEnabledMonitoring == '0'" (click)="presentMonitoringModal()">Comenzar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-card-title>Cuestionario de Barthel</ion-card-title>
        <br>
        
        <ion-card-subtitle>Estado: 
          <ion-text *ngIf="isEnabledBarthelseg == '1'" color="success">Disponible</ion-text>
          <ion-text *ngIf="isEnabledBarthelseg == '0'" color="danger">Cerrado</ion-text>
        </ion-card-subtitle>
      
      </ion-card-header>
      <ion-card-content>
        <ion-label *ngIf="isEnabledBarthelseg == '1'"><ion-text>Cuestionario de Barthel</ion-text></ion-label>
        <p class="quest_time_estimate" *ngIf="isEnabledBarthelseg == '1'">Tiempo estimado: <ion-text>2 minutos</ion-text></p>

        <ion-label *ngIf="isEnabledBarthelseg == '0' && nextDate">Disponible a partir del <ion-text>{{nextDate}}</ion-text></ion-label>
        <ion-label *ngIf="isEnabledBarthelseg == '2'"><ion-text color="success">No tiene que rellenar más cuestionarios!</ion-text></ion-label>
        <ion-button expand="block" [disabled]="isEnabledBarthelseg == '0'" (click)="presentBarthelsegModal()">Comenzar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-card-title>Cuestionario de Valoración Funcional de la Marcha</ion-card-title>
        <br>
      
        <ion-card-subtitle>Estado: 
          <ion-text *ngIf="isEnabledFacseg == '1'" color="success">Disponible</ion-text>
          <ion-text *ngIf="isEnabledFacseg == '0'" color="danger">Cerrado</ion-text>
        </ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <ion-label *ngIf="isEnabledFacseg == '1'"><ion-text>Escala FAC</ion-text></ion-label>
        <p class="quest_time_estimate" *ngIf="isEnabledFacseg == '1'">Tiempo estimado: <ion-text>1 minuto</ion-text></p>

        <ion-label *ngIf="isEnabledFacseg == '0' && nextDate">Disponible a partir del <ion-text>{{nextDate}}</ion-text></ion-label>
        <ion-label *ngIf="isEnabledFacseg == '2'"><ion-text color="success">No tiene que rellenar más cuestionarios!</ion-text></ion-label>
        <ion-button expand="block" [disabled]="isEnabledFacseg == '0'" (click)="presentFacsegModal()">Comenzar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-card-title>Cuestionario de la Movilidad de las Extremidades Inferiores</ion-card-title>
        <br>
        
        <ion-card-subtitle>Estado: 
          <ion-text *ngIf="isEnabledNeuroQol == '1'" color="success">Disponible</ion-text>
          <ion-text *ngIf="isEnabledNeuroQol == '0'" color="danger">Cerrado</ion-text>
        </ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <ion-label *ngIf="isEnabledNeuroQol == '1'"><ion-text>Escala CAT</ion-text></ion-label>
        <p class="quest_time_estimate" *ngIf="isEnabledNeuroQol == '1'">Tiempo estimado: <ion-text>3 minutos</ion-text></p>

        <ion-label *ngIf="isEnabledNeuroQol == '0' && nextDate">Disponible a partir del <ion-text>{{nextDate}}</ion-text></ion-label>
        <ion-label *ngIf="isEnabledNeuroQol == '2'"><ion-text color="success">No tiene que rellenar más cuestionarios!</ion-text></ion-label>
        <ion-button expand="block" [disabled]="isEnabledNeuroQol == '0'" (click)="presentNeuroQoLModal()">Comenzar</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
  
</ion-content>
