<ion-header mode="ios" [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title>Menú principal</ion-title>
    <ion-buttons class="logout-icon" slot="end" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" [fullscreen]="true" class="page_content">

  <ion-refresher slot="fixed" (ionRefresh)="[getParticipant($event)]">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none">
    <ion-grid>
      <ion-row class="home-name">Hola {{participant.f645_firstname}}</ion-row>
      <ion-row class="home-date"><b>Fecha: &nbsp;</b>{{currentDate_string}}</ion-row>
    </ion-grid>
  </ion-item>


  <div id="logo_recuperapp">
    <img src="assets/img/logo_recuperapp.png">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size=6>
        <ion-card mode="ios" class="profile-card" (click)="presentProfileModal()">
          <ion-card-content>
            <ion-icon size="large" name="person-outline"></ion-icon>
            <ion-card-title>Perfil</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size=6>
        <ion-card mode="ios" class="information-card" (click)="presentInformationModal()">
          <ion-card-content>
            <ion-icon size="large" name="bag-add-outline"></ion-icon>
            <ion-card-title>Información</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>

    <ion-item *ngIf="notifyEva">Debe rellenar EVA</ion-item>

    <ion-row>
      <ion-col size=12>
        <ion-card mode="ios" no padding class="diary-card" (click)="presentEvaModal()">
          <ion-card-content>
            <ion-icon size="large" name="add-circle-outline"></ion-icon>
            <ion-card-title>Diario de dolor</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
