<ion-header [translucent]="true">
  <ion-toolbar class="component-toolbar">
    <ion-button (click)="dismissModal()" slot="end" fill="clear">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
    <ion-title>NOTIFICACIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: flex; width: 100%; margin-top: 16px;">
    <ion-button 
      color="danger" 
      (click)="confirmCancelUpcomingNotifications()" 
      style="flex: 1; white-space: normal; word-break: break-word; margin-right: 4px;">
      Cancelar todas las notificaciones futuras
    </ion-button>

    <ion-button 
      color="primary" 
      (click)="rescheduleUpcomingNotifications()" 
      style="flex: 1; white-space: normal; word-break: break-word; margin-left: 4px;">
      Reprogramar notificaciones
    </ion-button>
  </div>

  <ng-container *ngIf="groupedNotifications && groupedNotifications.length > 0; else noNotifications">
    <ion-list>
      <ion-card *ngFor="let group of groupedNotifications">
        <ion-card-header>
          <ion-card-subtitle>{{ group.date }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let notification of group.notifications" lines="none">
              <ion-icon [ngClass]="{
                'quest-a': notification.id % 10 === 0,
                'quest-b': notification.id % 10 !== 0
              }" name="ellipse" slot="start"></ion-icon>
              <ion-label>
                <h4><strong>{{ notification.time }}</strong> - {{ notification.quest.charAt(0).toUpperCase() + notification.quest.slice(1).toLowerCase() }}</h4>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>

  <ng-template #noNotifications>
    <ion-text class="ion-padding">
      <h4>No hay notificaciones pendientes!</h4>
    </ion-text>
  </ng-template>
</ion-content>

